* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%; 
  border: 2px;
}
.firsRect {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 1rem;
  
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.column1{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.column2{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.column3{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.orangeRectangle {
  background-color: orange;
  width: 15rem;
  height: 25.4rem;
}
.circleRed {
  background-color: red;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.squareRed {
  background-color: red;
  width: 15rem;
  height: 12rem;
}
.BlueRect {
  background-color: navy;
  width: 21rem;
  height: 12rem;
}
.ligtBlueRectangle {
  background-color: aqua;
  width: 21rem;
  height: 12rem;
}
.Redcircle {
  background-color: red;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.ligtBlueCicle {
  background-color: aqua;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.third3 {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 0.5rem;
}
.BlueRectangle {
  background-color: navy;
  width: 30rem;
  height: 12rem;
}
.LBCicle {
  background-color: aqua;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.OrangeRect {
  background-color: orange;
  width: 30rem;
  height: 12rem;
}
.last3 {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 1.5rem;
}
.blueCircle, .circlBlue{
  background-color: navy;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.redRectangle{
  background-color: red;
  width: 45.5rem;
  height: 12rem;
}
